*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
}


.bungkus {
    /* background: purple; */
    width: 81%;
    margin: 10px auto;
    
}

/* Bagian Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:black;
    padding: 15px 10px 0px 10px;
}

.logo-atas {
    width: 40%;
    margin: auto;
    padding: 10px;
    margin-left: 5%;
}
/* Akhir Header */

/* Bagian Menu */
.menu {
    margin: auto;
    display: flex;
    background: black;
    color: white;
}

.menu ul {
    padding: 0px 0px 0px 0px;
    margin: 0;
    /* background: yellow; */
    overflow: hidden;
    
}

.menu ul li {
    padding: 10px 10px 10px 25px;
    float: left;
    list-style: none;    
    /* padding: 20px; */
}

.menu ul li a{
    color: white;
}

a.active {
    padding: 4px;
    border: solid 2px white;
    border-radius: 15px;
    transition: 0.2s;
    cursor: pointer;
}

/* Akhir Menu */

.clear {
    clear: both;
}

.badan {
    height: 450px;
}

.badan .cta {
    display: flex;
    margin-top: 10px;
    /* background-color: DodgerBlue; */
}

.cta .btn {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 11px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

.cta .btn-none {
    background-color: transparent;
    border: none;
    color: black;
    padding: 10px 16px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

i.btn {
    margin-right: 100px;
}

.selected-project a img{
    width: 100%;
    height: 100%;
}

/* bagian sidebar */
.bungkus .badan .sidebar {
    /* background:grey; */
    /* border: 1px solid black;
    border-radius: 20px; */
    margin-top: 20px;
    float: left;
    width: 25%;
    height: 100%;
    padding: 20px;
    color: black;
}

.badan .sidebar ul li, a{
    list-style: none;
    margin-bottom: 20px;
    color: black;
}

/* Akhir dari sidebar */

/* Awal dari Content */
.bungkus .badan .content {
    /* background: pink; */
    float: left;
    height: 100%;
    width: 75%;
    padding: 30px 15px 15px 30px;
    line-height: 35px;
}

.bungkus .badan .content p {

    margin-top: 15px;
    line-height: 26px;
}

/* Akhir dar Konten */

.footer {
    color: white;
    width: 100%;
    padding-top: 30px;
    height: 250px;
    background-color: black;
}

.bungkus-footer {
    width: 90%;
    margin: auto;
}

.footer .baris1footer {
    display: flex;
}

.footer .baris1footer .logo-bawah{
    width: 15%;
    
}

.copyrightbar {
    width: 90%;
    margin: auto;
    padding: 5px;
    color: black;
    background-color: white;
}

